.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 20vh);
    padding: 0px 20px;
    background-color: var(--color-background);
}

.auth-card {
    background-color: var(--color-background-soft);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    padding: 40px;
    width: 100%;
    max-width: 450px;
}

.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.form-error {
    width: 100%;
    background-color: brown;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--vt-c-white);
}

.form-group label, .form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input, .form-input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #11111157;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--color-background-mute);
    color: var(--color-text);
    margin-bottom: 20px;
}

.btn-submit {
    width: 100%;
    padding: 9px;
    background-color: var(--primary-dark);
    color: whitesmoke;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    font-size: 19px;
    margin-top: 20px;
}

.btn-submit:hover {
background-color: var(--primary-dark);
}

.auth-footer{
    margin-top: 14px;
    text-align: center;
}

.auth-footer a {
    color: var(--primary);
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
.auth-card {
    padding: 30px 20px;
}
}